* {
    padding: 0;
    margin: 0;        
}

/* Gäller för alla skärmstorlekar*/
body {    
    font-family: 'Roboto Mono', monospace, sans-serif;     
    background-color: rgb(237, 237, 237);
    color: rgb(0, 0, 0); 
}

#nav-menu {
    background-color: #548d6c;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);      
}

.logo {
    width: 10em;  
    height: 100%;          
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;  
    align-items: center;      
    list-style-type: none;     
}

.navbar, .sidebar {
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar li {     
    margin: 0 1.5em;
}

.navbar a, .sidebar a {    
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: rgba(252, 205, 143, 0.791);   
}

.nav-item .menu-choice-open {
    color: rgb(255, 255, 255);    
}

.navbar .nav-item:hover {
    border-bottom: 2px solid #936d61; 
}

.navbar li:first-child {
    margin-right: auto;
}

.material-icons {
    font-size: 36px;
    transition: transform 0.3s ease-in-out;   
}

.material-icons:hover {
    transform: scale(1.2);   
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 10;
    background-color: #548d6ca5;
    backdrop-filter: blur(6px);
    box-shadow: -5px 0 12px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;    
}

.sidebar .material-icons {
    padding: 0.5em 0 0 0.5em;     
}

.sidebar li {   
    width: 100%;     
}

.sidebar .nav-item {    
    padding: 0.5em 1.5em;
    transition: background-color 0.3s ease-in-out;    
}

.sidebar li:first-child {
    margin-bottom: 45px;
}

.sidebar .logo {
    margin: auto;
    opacity: 0;
}

.sidebar li:last-child {    
    margin: auto;
}

.sidebar a {
    width: 100%;    
}

.sidebar .nav-item:hover {  
    background-color: #936d61c7;
}

.sidebar .nav-item:not(:hover) {    
    filter: blur(0.3px);
}

@media screen and (max-width: 769px) {
    .hideOnMobile {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .hideOnDesktop {
        display: none;
    }   
}

@media screen and (max-width: 400px) {
    .sidebar {
        width: 100%;
    }

    .sidebar .logo {
        opacity: 1;
    }
}

.about-main {
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-wrap: wrap;     
}

.about-section {    
    margin: 6em 0 4em 0;    
    max-width: 30em;
    /* background-color: #548d6cb9;    
    box-shadow: 50px 200px 100px rgba(0, 0, 0, 0.2);
    border-radius: 10px;       
    padding: 2em; */
}

.about-me-title {
    text-transform: uppercase;
    background-color: rgba(252, 205, 143, 0.791);
    /* background-color: #936d61; */
    display: inline-block;    
    padding: 10px 12px 10px 12px;
    border-radius: 4px;  
    margin: 20px 0 20px -15px;       
}

footer {
    text-align: center;    
    background-color: rgba(31, 31, 28, 0.445);
    padding: 20px;    
}

.social-links {       
    width: 30px;
    margin-right: 10px;    
}